@{
    ViewData["Title"] = "API";
    var results = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(ViewBag.Result);
}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-2 mx-auto flex flex-col">
        @ViewBag.Url
    </div>
    <div class="container px-5 py-8 mx-auto flex flex-col">
        <table class="table-fixed border-collapse border border-slate-400">
            <thead>
                <tr>
                    @foreach (var property in results.data[0].Properties())
                    {
                        <th class="p-4 border border-slate-300">@property.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in results.data)
                    {
                        <tr>
                            @foreach (var property in item.Properties())
                            {
                                <td class="p-4 border border-slate-300">@property.Value</td>
                            }
                        </tr>
                    }
            </tbody>
        </table>
    </div>
    <div class="container px-5 py-4 mx-auto flex flex-col">
        <p>Raw JSON:</p>
        @ViewBag.Result
    </div>
</section>


