@{
    ViewData["Title"] = "MySQL Page";
}


<section class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex flex-col">
        @if (ViewBag.ColumnNames != null)
        {
            <table class="table-fixed border-collapse border border-slate-400">
                <thead>
                    <tr>
                        @foreach (var column in ViewBag.ColumnNames)
                        {
                            <th class="p-4 border border-slate-300">@column</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in ViewBag.Rows)
                    {
                        <tr>
                        @foreach (object cell in row)
                        {
                            <td class="p-4 border border-slate-300">@cell</td>
                        }
                        </tr>
                    }
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        } else
        {
            <div class="container px-5 py-4 mx-auto flex flex-col">
               No entries found.
            </div>
        }
    </div>
    <div class="container px-5 py-4 mx-auto flex flex-col">
        <p>Connection String: @ViewBag.Sql</p>
    </div>
</section>


